.swal-high-zindex {
  z-index: 9999 !important;
}
:root {
  --base-font-size: 16px; /* default normal size */
  --bs-panel-primary: #0dcaf0;;
}

body,
.app-wrapper,
.sidebar,
.content-wrapper {
  font-size: var(--base-font-size) !important;
  transition: font-size 0.3s ease-in-out;
}

* {
  font-size: inherit !important;
}

.app-sidebarBox {
  width: 20%;
  display: flex;
  flex-direction: column;
  /* z-index: 100; */
}

@media (min-width: 300px) and (max-width: 780px) {
  .app-sidebarBox {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    height: 100vh !important;
    z-index: 1050 !important;
    transform: translateX(-100%) !important;
    transition: transform 0.3s ease !important;
  }

  .app-sidebarBox:not(.collapsed) {
    transform: translateX(0) !important;
  }
}

/* Sidebar container */
.New-sidebar {
  background-color: #343a40 !important;
  color: #f1f5f9;
  height: 100vh;
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
  z-index: 1000;
}

.New-sidebar .brand-link {
  color: #ffffff;
}

.New-sidebar .nav-link {
  color: #f1f5f9;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Hover effect */
.New-sidebar .nav-link:hover {
  background-color: #334155 !important;
  color: #ffffff;
}

.New-sidebar .nav-link.active {
  background-color: #505f76;
  color: #ffffff;
  border-radius: 6px;
}

/* Icon color */
/* .New-sidebar .nav-icon {
  color: #cbd5f5;
} */

.New-sidebar .nav-link.active {
  background-color: #505f76 !important;
  color: #ffffff !important;
  border-radius: 6px;
}

.New-sidebar .nav-link.active .nav-icon {
  color: #ffffff !important;
}

@media (min-width: 200px) and (max-width: 600px) {
  .New-sidebar {
    position: absolute;
    z-index: 999;
    width: 260px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .New-sidebar {
    position: absolute;
    z-index: 999;
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .closeLogo {
    display: none;
  }
}


.jodit-status-bar-link {
  display: none !important;
}
.panel-navbar {
    background: #f2f2f2;
}
.screens-buttons .btn {
	background: #fff;
}
.screens-buttons .btn:hover {
	background: var(--bs-panel-primary);
	color: #fff;
	border: 1px solid transparent;
}
.custom-card {
	border: 1px solid #e5eaf4 !important;
	border-radius: .625rem !important;
	box-shadow: rgba(149, 157, 165, .1) 0px 0px 14px !important;
}
.custom-card .card-header {
	border-bottom: 1px solid #e5eaf4 !important;
	border-top: 1px solid #e5eaf4 !important;
}
.custom-card .card-footer {
	border-top: 1px solid #e5eaf4 !important;
}
.custom-card .form-control {
	height: 50px;
	border: 1px solid #e0e6f1;
	appearance: auto;
}
.custom-card .form-control:focus {
	height: 50px;
	border: 1px solid var(--bs-panel-primary);
	box-shadow: none;
}
.custom-card .upload-image-input {
	overflow: hidden;
	line-height: 35px;
}
.custom-card .btn:hover {
	color: #fff;
	background-color: #0d90f0;
	border-color: #0d90f0;
}
/*=== custom editor ===*/
.custom-main-editor .jodit-status-bar {
	padding: 10px 5px !important;
	min-height: 53px;
}
.custom-main-editor .jodit-toolbar-button_size_tiny .jodit-icon {
	height: 20px;
	width: 25px;
}
.custom-main-editor .jodit-container {
	border: 1px solid #e5eaf4 !important;
	box-shadow: rgba(149, 157, 165, .1) 0px 0px 14px !important;
}
.associated-organization-logo {
	width: auto !important;
}